@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Ekleme Sayfası</h2>
<br />

<form class="form-group" method="post">
    Departman Adı
    @Html.TextBoxFor(x => x.DepartmanAdi, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>
    <a href="/Departman/DepartmanListesi" class="btn btn-info" style="background-color:darkcyan; color:aliceblue;">Departman Listesi</a>
</form>

