@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList<Departman>
@*@model List<Departman>*@
@{
    ViewBag.Title = "DepartmanListesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>#</th>
        <th>Departman Adı</th>
        <th>İşlemler</th>
    </tr>
    @{int sayac = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@{sayac += 1;} @sayac</td>
            <td>@item.DepartmanAdi</td>
            <td>
                <a href="/Departman/DepartmanDetayi/@item.DepartmanID" class="btn" style="background-color:forestgreen; color:aliceblue">Detay</a>
                <a href="/Departman/DepartmanGetir/@item.DepartmanID" class="btn" style="background-color:darkorange; color:aliceblue">Güncelle</a>
                <a href="/Departman/DepartmanSil/@item.DepartmanID" class="btn" style="background-color:firebrick; color:aliceblue">Sil</a>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("DepartmanListesi", new { sayfa }),
new PagedListRenderOptions@*Sayfa değerine her tıklandığında, yeni bir sayfa oluşturarak bana Kategori Listesini aç*@
{
LiElementClasses = new List<string>
{
"page-link"         //Sayfanın linklerini ekle
}
})

<a href="/Departman/DepartmanEkle" class="btn btn-info">Departman Ekle</a>
<a href="/Departman/PasifDepartmanListesi" class="btn btn-info" style="background-color:olive; color:aliceblue;">Pasif Departman Listesi</a>